body{
    margin: 0;
}

h1{
    text-align: center;
    margin: 20px;
    font-family: 'manga', sans-serif;
}

#bg{
    height: max-content;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    background: url(img/bg.svg);
    background-size: cover;
}

#photoContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: ; */
}

#photos{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* display: none; */
}

#photos img{
    /* width: 300px; */
    height: 170px;
    object-fit: cover;
    transition: transform 125ms ease-in-out;
    cursor: pointer;
}

#photos img:hover{
    transform: scale(1.05);
}


/* PREVIEW */

#imgPreview{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#imgPreview img{
    max-width: 70vw;
    max-height: 80vh;
    object-fit: contain;
}

button{
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /**/
    position: absolute;
    left: 5%;
}

button.buttons:last-child{
    left: unset;
    right: 5%;
}


@media (max-width:960px){
    #photos{
        margin-bottom: 50px;
    }
}

@media (max-width: 500px){
    button{
        height: 25px;
        width: 25px;
    }
}


@font-face{
    font-family: 'manga';
    src: url(font/mangat.ttf);
}